# .gitignore

# Virtual Environment
venv/
env/
gesture_guru/Lib/
__pycache__/
*.pyc
*.pyo

# IDEs and OS
.vscode/
.DS_Store
.idea/



# Ignore Python virtual environments
gesture_guru/Lib/
gesture_guru/Include/
gesture_guru/Scripts/
gesture_guru/pyvenv.cfg
__pycache__/
*.pyc
